.container {
    display:flex;
    justify-content: space-around;
    height:100%;
    margin-top:1em;
    ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width:80em;
    }
}