.container {
  display: flex;
  flex-direction: column;
  section {
      margin-left: 10em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
}

.imageContainer {
  overflow:hidden;
  border-radius: 3%;
}

.images {
  display:flex;
  justify-content: space-between;
  width:65em;
}